{% extends 'layout.html' %}

{% block content %}
  <h1>Lista de Materiales</h1>
  <table border="1" cellpadding="10" cellspacing="0">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre del Material</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for material in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ material.name|upper }}</td>
          <td>{{ material.quantity }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}